<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/about.css">
    <title>About us</title>
</head>
<body>
    <div class="container">
        <h1>
            About us
        </h1>
        <div class="para">
            I am a BSc computer science student at Government Autonomous College, Rourkela. 
            I have worked with technologies like C, C++, Java, JavaScript, Node.js and MongoDB. 
            <br>
            <br>
            By making your projects my goal is to advance my skills, gain experience by making more project and try to learn better. 
            I have already made many projects of web development using HTML, CSS, JavaScript, Node.js and MongoDB.
            I am quite comfortable with JavaScript and confident to create new things with it. 
            You can check all my created projects till now on github, I have provided github link in my website. 
            <br><br>
            At last i would like to thank you for visiting my website.
        </div>
    </div>
</body>
</html>